In [18]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics
import random

In [9]:
customers = pd.read_csv("segmentation data.csv")
companies = pd.read_excel("uniorn_companies.xlsx")

In [10]:
customers

             ID  Sex  Marital status  ...  Income  Occupation  Settlement size
0     100000001    0               0  ...  124670           1                2
1     100000002    1               1  ...  150773           1                2
2     100000003    0               0  ...   89210           0                0
3     100000004    0               0  ...  171565           1                1
4     100000005    0               0  ...  149031           1                1
...         ...  ...             ...  ...     ...         ...              ...
1995  100001996    1               0  ...  123525           0                0
1996  100001997    1               1  ...  117744           1                0
1997  100001998    0               0  ...   86400           0                0
1998  100001999    1               1  ...   97968           0                0
1999  100002000    0               0  ...   68416           0                0

[2000 rows x 8 columns]

In [11]:
companies

              Company  ...                                   Select Investors
0           Bytedance  ...  Sequoia Capital China, SIG Asia Investments, S...
1              Stripe  ...        Khosla Ventures, LowercaseCapital, capitalG
2              SpaceX  ...  Founders Fund, Draper Fisher Jurvetson, Rothen...
3        Didi Chuxing  ...  Matrix Partners, Tiger Global Management, Soft...
4           Instacart  ...  Khosla Ventures, Kleiner Perkins Caufield & By...
..                ...  ...                                                ...
605     Aqua Security  ...     TLV Partners, Lightspeed Venture Partners, M12
606           PatSnap  ...  Sequoia Capital China, Shunwei Capital Partner...
607              Side  ...  Coatue Managemeny, Trinity Ventures, Matrix Pa...
608           Lattice  ...      Khosla Ventures, Thrive Capital, Y Combinator
609  Evidation Health  ...   B Capital Group,, GE Ventures, McKesson Ventures

[610 rows x 6 columns]

In [12]:
companies.Category.value_counts()

Internet software & services           96
Fintech                                94
E-commerce & direct-to-consumer        73
Artificial intelligence                49
Health                                 43
Other                                  40
Mobile & telecommunications            33
Supply chain, logistics, & delivery    32
Auto & transportation                  30
Cybersecurity                          24
Data management & analytics            23
Hardware                               22
Consumer & retail                      19
Edtech                                 18
Travel                                 12
Education                               1
Data management & analytics<            1
Name: Category, dtype: int64

In [16]:
categoryList = list(set(companies.Category))
print(categoryList)

['Artificial intelligence', 'Internet software & services', 'Supply chain, logistics, & delivery', 'E-commerce & direct-to-consumer', 'Travel', 'Other', 'Mobile & telecommunications', 'Health', 'Fintech', 'Edtech', 'Data management & analytics', 'Data management & analytics<', 'Hardware', 'Education', 'Cybersecurity', 'Auto & transportation', 'Consumer & retail']

In [21]:
categoryList.remove('Data management & analytics<')

In [22]:
categoryList.remove('Education')

In [25]:
len(categoryList)

15

In [34]:
numberOfCustomers = len(customers)
categories_for_customers = []
for i in list(range(1, numberOfCustomers + 1)):
  index = random.randint(0,len(categoryList) - 1)
  categories_for_customers.append(categoryList[index])

In [35]:
customers['Fav_type'] = categories_for_customers

In [36]:
customers

             ID  Sex  ...  Settlement size                             Fav_type
0     100000001    0  ...                2  Supply chain, logistics, & delivery
1     100000002    1  ...                2          Data management & analytics
2     100000003    0  ...                0          Data management & analytics
3     100000004    0  ...                1          Data management & analytics
4     100000005    0  ...                1          Data management & analytics
...         ...  ...  ...              ...                                  ...
1995  100001996    1  ...                0                               Health
1996  100001997    1  ...                0      E-commerce & direct-to-consumer
1997  100001998    0  ...                0                        Cybersecurity
1998  100001999    1  ...                0                               Edtech
1999  100002000    0  ...                0          Data management & analytics

[2000 rows x 9 columns]

In [37]:
customers['Fav_type'].value_counts()

Edtech                                 156
Other                                  148
Supply chain, logistics, & delivery    145
Health                                 140
Fintech                                138
Artificial intelligence                138
Data management & analytics            137
Hardware                               136
Auto & transportation                  133
Cybersecurity                          131
Internet software & services           131
Mobile & telecommunications            125
Consumer & retail                      124
E-commerce & direct-to-consumer        112
Travel                                 106
Name: Fav_type, dtype: int64

In [46]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(customers.iloc[:,1:7],customers['Fav_type'])

customers.iloc[:,1:7]

      Sex  Marital status  Age  Education  Income  Occupation
0       0               0   67          2  124670           1
1       1               1   22          1  150773           1
2       0               0   49          1   89210           0
3       0               0   45          1  171565           1
4       0               0   53          1  149031           1
...   ...             ...  ...        ...     ...         ...
1995    1               0   47          1  123525           0
1996    1               1   27          1  117744           1
1997    0               0   31          0   86400           0
1998    1               1   24          1   97968           0
1999    0               0   25          0   68416           0

[2000 rows x 6 columns]

In [41]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2000 non-null   int64
 1   Sex              2000 non-null   int64
 2   Marital status   2000 non-null   int64
 3   Age              2000 non-null   int64
 4   Education        2000 non-null   int64
 5   Income           2000 non-null   int64
 6   Occupation       2000 non-null   int64
 7   Settlement size  2000 non-null   int64
 8   Fav_type         2000 non-null   object
dtypes: int64(8), object(1)
memory usage: 140.8+ KB

In [42]:
random_customer = [0, 0, 60, 2, 10000, 0, 0]

clf.predict(random_customer)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

ValueError: ignored