In [1]:
pip install joblib

Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (1.1.0)

In [2]:
pip install flask_ngrok

Collecting flask_ngrok
  Downloading flask_ngrok-0.0.25-py3-none-any.whl (3.1 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from flask_ngrok) (2.23.0)
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.7/dist-packages (from flask_ngrok) (1.1.4)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask_ngrok) (1.0.1)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask_ngrok) (2.11.3)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask_ngrok) (1.1.0)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask_ngrok) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->Flask>=0.8->flask_ngrok) (2.0.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->flask_ngrok) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->flask_ngrok) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->flask_ngrok) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->flask_ngrok) (3.0.4)
Installing collected packages: flask-ngrok
Successfully installed flask-ngrok-0.0.25

In [3]:
pip install waitress

Collecting waitress
  Downloading waitress-2.0.0-py3-none-any.whl (56 kB)
     |████████████████████████████████| 56 kB 2.6 MB/s
Installing collected packages: waitress
Successfully installed waitress-2.0.0

In [4]:
from flask import *
from flask_ngrok import run_with_ngrok

In [5]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics
import random

Exception in thread _colab_inspector_thread:
Traceback (most recent call last):
  File "/usr/lib/python3.7/threading.py", line 926, in _bootstrap_inner
    self.run()
  File "/usr/lib/python3.7/threading.py", line 870, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/lib/python3.7/dist-packages/google/colab/_debugpy.py", line 59, in inspector_thread
    _variable_inspector.run(shell, time)
  File "/usr/local/lib/python3.7/dist-packages/google/colab/_variable_inspector.py", line 28, in run
    globals().clear()
TypeError: 'module' object is not callable

Reading files

In [6]:
customers = pd.read_csv("segmentation data.csv")
companies = pd.read_excel("uniorn_companies.xlsx")

In [7]:
customers

             ID  Sex  Marital status  ...  Income  Occupation  Settlement size
0     100000001    0               0  ...  124670           1                2
1     100000002    1               1  ...  150773           1                2
2     100000003    0               0  ...   89210           0                0
3     100000004    0               0  ...  171565           1                1
4     100000005    0               0  ...  149031           1                1
...         ...  ...             ...  ...     ...         ...              ...
1995  100001996    1               0  ...  123525           0                0
1996  100001997    1               1  ...  117744           1                0
1997  100001998    0               0  ...   86400           0                0
1998  100001999    1               1  ...   97968           0                0
1999  100002000    0               0  ...   68416           0                0

[2000 rows x 8 columns]

In [8]:
companies

              Company  ...                                   Select Investors
0           Bytedance  ...  Sequoia Capital China, SIG Asia Investments, S...
1              Stripe  ...        Khosla Ventures, LowercaseCapital, capitalG
2              SpaceX  ...  Founders Fund, Draper Fisher Jurvetson, Rothen...
3        Didi Chuxing  ...  Matrix Partners, Tiger Global Management, Soft...
4           Instacart  ...  Khosla Ventures, Kleiner Perkins Caufield & By...
..                ...  ...                                                ...
605     Aqua Security  ...     TLV Partners, Lightspeed Venture Partners, M12
606           PatSnap  ...  Sequoia Capital China, Shunwei Capital Partner...
607              Side  ...  Coatue Managemeny, Trinity Ventures, Matrix Pa...
608           Lattice  ...      Khosla Ventures, Thrive Capital, Y Combinator
609  Evidation Health  ...   B Capital Group,, GE Ventures, McKesson Ventures

[610 rows x 6 columns]

In [9]:
companies.Category.value_counts()

Internet software & services           96
Fintech                                94
E-commerce & direct-to-consumer        73
Artificial intelligence                49
Health                                 43
Other                                  40
Mobile & telecommunications            33
Supply chain, logistics, & delivery    32
Auto & transportation                  30
Cybersecurity                          24
Data management & analytics            23
Hardware                               22
Consumer & retail                      19
Edtech                                 18
Travel                                 12
Data management & analytics<            1
Education                               1
Name: Category, dtype: int64

In [10]:
categoryList = list(set(companies.Category))
print(categoryList)

['Health', 'Education', 'Mobile & telecommunications', 'Auto & transportation', 'Data management & analytics<', 'Supply chain, logistics, & delivery', 'Cybersecurity', 'Edtech', 'E-commerce & direct-to-consumer', 'Travel', 'Fintech', 'Hardware', 'Internet software & services', 'Consumer & retail', 'Other', 'Artificial intelligence', 'Data management & analytics']

Preprocessing

In [11]:
categoryList.remove('Data management & analytics<')

In [12]:
categoryList.remove('Education')

In [13]:
len(categoryList)

15

In [14]:
numberOfCustomers = len(customers)
categories_for_customers = []
for i in list(range(1, numberOfCustomers + 1)):
  index = random.randint(0,len(categoryList) - 1)
  categories_for_customers.append(categoryList[index])

In [15]:
customers['Fav_type'] = categories_for_customers

In [16]:
customers

             ID  Sex  ...  Settlement size                             Fav_type
0     100000001    0  ...                2         Internet software & services
1     100000002    1  ...                2                    Consumer & retail
2     100000003    0  ...                0                              Fintech
3     100000004    0  ...                1              Artificial intelligence
4     100000005    0  ...                1                               Edtech
...         ...  ...  ...              ...                                  ...
1995  100001996    1  ...                0         Internet software & services
1996  100001997    1  ...                0                              Fintech
1997  100001998    0  ...                0          Data management & analytics
1998  100001999    1  ...                0  Supply chain, logistics, & delivery
1999  100002000    0  ...                0                             Hardware

[2000 rows x 9 columns]

In [17]:
customers['Fav_type'].value_counts()

Internet software & services           150
Mobile & telecommunications            147
E-commerce & direct-to-consumer        142
Edtech                                 142
Supply chain, logistics, & delivery    140
Travel                                 137
Consumer & retail                      137
Artificial intelligence                135
Data management & analytics            130
Hardware                               128
Other                                  126
Auto & transportation                  125
Cybersecurity                          124
Fintech                                120
Health                                 117
Name: Fav_type, dtype: int64

Model Building

In [18]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(customers.iloc[:,1:7],customers['Fav_type'])

customers.iloc[:,1:7]

      Sex  Marital status  Age  Education  Income  Occupation
0       0               0   67          2  124670           1
1       1               1   22          1  150773           1
2       0               0   49          1   89210           0
3       0               0   45          1  171565           1
4       0               0   53          1  149031           1
...   ...             ...  ...        ...     ...         ...
1995    1               0   47          1  123525           0
1996    1               1   27          1  117744           1
1997    0               0   31          0   86400           0
1998    1               1   24          1   97968           0
1999    0               0   25          0   68416           0

[2000 rows x 6 columns]

In [19]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2000 non-null   int64
 1   Sex              2000 non-null   int64
 2   Marital status   2000 non-null   int64
 3   Age              2000 non-null   int64
 4   Education        2000 non-null   int64
 5   Income           2000 non-null   int64
 6   Occupation       2000 non-null   int64
 7   Settlement size  2000 non-null   int64
 8   Fav_type         2000 non-null   object
dtypes: int64(8), object(1)
memory usage: 140.8+ KB

Prediction

In [20]:
random_customer = [0, 0, 60, 2, 10000, 0]


print(clf.predict([random_customer]))

['Supply chain, logistics, & delivery']

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

Company predictions

In [24]:
companies[companies.Category == 'Supply chain, logistics, & delivery']['Company'].head(10)

4          Instacart
21     Manbang Group
26             Gojek
28          Lalamove
42         Deliveroo
103           Swiggy
110            Rappi
121         Flexport
125            Udaan
132          Katerra
Name: Company, dtype: object

In [ ]:


import joblib
joblib.dump(clf, 'model.pkl')

['model.pkl']

In [ ]:
dt = joblib.load('model.pkl')

In [ ]:

model_columns = ['Sex', 'Marital Status', 'Age', 'Education', 'Income', 'Occupation']
joblib.dump(model_columns, 'model_columns.pkl')

['model_columns.pkl']

Flask

In [ ]:

from flask import Flask, request, jsonify
import joblib
import traceback
import pandas as pd
import numpy as np
app = Flask(__name__)
run_with_ngrok(app)
@app.route('/', methods=['GET','POST']) 
def predict2():
    if dt:
        try:
            json_ = request.json
            query = pd.get_dummies(pd.DataFrame(json_))
            query = query.reindex(columns=model_columns, fill_value=0)

            prediction = list(lr.predict(query))

            return jsonify({'prediction': prediction})

        except:

            return jsonify({'trace': traceback.format_exc()})
    else:
        print ('Train the model first')
        return ('No model here to use')

In [ ]:
if __name__ == '__main__':
    try:
        port = int(sys.argv[1]) # This is for a command-line input
    except:
        port = 5000 # If you don't provide any port the port will be set to 12345

    lr = joblib.load("model.pkl") # Load "model.pkl"
    print ('Model loaded')
    model_columns = joblib.load("model_columns.pkl") # Load "model_columns.pkl"
    print ('Model columns loaded')

    app.run()

Model loaded
Model columns loaded
 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off
 * Running on http://8314-34-125-48-100.ngrok.io
 * Traffic stats available on http://127.0.0.1:4040

In [ ]:
%tb